p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

header {
  height: 320px;
  background-color: #ececa9;
}

footer {
  height: 320px;
  background-color: #ececa9;
}

.contacts {
  background-color: #84a178;
}

.section--inverse {
  padding-top: 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section--inverse {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section--inverse {
    padding-top: 50px;
    padding-bottom: 120px;
  }
}

.contacts__list {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767.98px) {
  .contacts__list {
    max-width: 368px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    margin: -8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    margin: -16px;
  }
}

.contacts__item {
  background-color: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (max-width: 767.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    width: calc((100% - 48px) / 3);
    margin: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    width: calc((100% - 96px) / 3);
    margin: 16px;
  }
}

.item-contacts {
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .item-contacts {
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .item-contacts {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
  }
}
.item-contacts__title {
  display: inline-block;
  min-width: 80px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 21px;
  padding-right: 21px;
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #f8d24e;
}
@media screen and (min-width: 768px) {
  .item-contacts__title {
    min-width: 73px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .item-contacts__title {
    min-width: 76px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .item-contacts__title--wider {
    padding-left: 16px;
    padding-right: 15px;
  }
}

.item-contacts__location::after,
.item-contacts__datetime::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .item-contacts__location::after,
.item-contacts__datetime::after {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.location__text {
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #131313;
}
.location__text--inverse {
  line-height: 1.83;
  color: #d6936d;
}
.location__text + .location__text {
  margin-top: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .location__text + .location__text {
    margin-top: 12px;
  }
}

.datetime__item + .datetime__item {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .datetime__item + .datetime__item {
    margin-top: 12px;
  }
}

.datetime__text {
  line-height: 1.86;
  color: #131313;
}
.datetime__text--inverse {
  color: #ababab;
}

.contact__item + .contact__item {
  margin-top: 6px;
}
@media screen and (min-width: 768px) {
  .contact__item + .contact__item {
    margin-top: 4px;
  }
}

.contact__link {
  line-height: 1.6;
  color: #131313;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact__link {
    line-height: 1.5;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #f8d24e;
}

.contacts__modal-list {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__modal-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__modal-list {
    margin-top: 60px;
  }
}

.contacts__modal-item + .contacts__modal-item {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__modal-item + .contacts__modal-item {
    margin-top: 0px;
    margin-left: 16px;
  }
}

.contacts-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 196px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid transparent;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #131313;
}

.contacts-button--dark {
  border-color: #f8d24e;
  background-color: #f8d24e;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-button--dark:hover {
  border-color: #0a8817;
  background-color: #0a8817;
}
.contacts-button--dark:focus {
  border-color: #0a8817;
  background-color: #0a8817;
  color: #ffffff;
  outline: transparent;
}

.contacts-button--light {
  border-color: #f8d24e;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-button--light:hover {
  border-color: #0a8817;
}
.contacts-button--light:focus {
  border-color: #0a8817;
  color: #ffffff;
  outline: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(132, 161, 120, 0.6);
  z-index: 1;
  overflow-y: scroll;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.contacts__modal-map {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 280px;
  width: 100%;
  min-height: 365px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background-color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .contacts__modal-map {
    max-width: 568px;
    min-height: 458px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.backdrop--hidden .contacts__modal-map {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  color: #131313;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  color: #f8d24e;
}
.modal-close-btn__icon {
  fill: currentColor;
}

.modal-map__meta {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-map__meta {
    margin-bottom: 32px;
  }
}

.modal-map__text {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .modal-map__text {
    font-size: 20px;
    line-height: 1.4;
  }
}

.modal-map__wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.modal-map__img {
  margin-left: auto;
  margin-right: auto;
}

.modal-map__link {
  margin-top: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 134px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  background-color: #f8d24e;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-map__link {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.2142857143;
  }
}
.modal-map__link:hover {
  border-color: #0a8817;
  background-color: #0a8817;
}
.modal-map__link:focus {
  border-color: #0a8817;
  background-color: #0a8817;
  color: #ffffff;
  outline: transparent;
}/*# sourceMappingURL=main.css.map */